//=================================
// PROJECTILE FORM
//=================================

.projectile-controls {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 rem(10px);
  @include mq('large') {
    max-width: 25%;
    margin: 0;
  }
}