//=================================
// SIMULATION
//=================================

$projectile-width: 40px;
$projectile-height: 40px;

.simulation-container {
  position: relative;
  height: rem(500px);
  background: #0ED7D6;
  border-bottom: 5px solid #000;
  overflow: hidden;
}

.projectile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: rem($projectile-width);
  height: rem($projectile-height);
  border-radius: 50%;
  background: #D729CF;
  z-index: 1;
  opacity: 0;
}

.angle {
  position: absolute; 
  left: rem($projectile-width/2);
  bottom: rem($projectile-height/2);
  width: em(150px);
  transform: rotate(-45deg);
  transform-origin: 0% 50%;
  border-bottom: rem(2px) solid #000;
  opacity: 0;
  &:after {
    content: "";
    position: absolute;
    left: 100%;
    transform: translateY(-45%);
    border-top: em(10px) solid transparent;
    border-bottom: em(10px) solid transparent;
    border-left: em(10px) solid #000;
  }
}