//=================================
// SIMULATION
//=================================

.simulation-container {
  position: relative;
  height: rem(500px);
  background: #C9ADD7;
  overflow:hidden;
}

.projectile {
  position: absolute;
  bottom: -rem(40px);
  left: -rem(40px);
  width: rem(40px);
  height: rem(40px);
  border-radius: 50%;
  background: #50D7D7;
}